<!DOCTYPE html>
<html>
  <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57149141-2"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-57149141-2');
      </script>
      <title>HN Sentinel</title>   
      <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo"><a href="/">HN Sentinel</a></h1>
        <strong><nav>
            <ul class="menu">
              <li><a href="/day/{{ context.day_link }}">Daily</a></li>
              <li><a href="/week/{{ context.week_link }}">Weekly</a></li>
              <li><a href="/month/{{ context.month_link }}">Monthly</a></li>
              <li><a href="/year/{{ context.year_link }}">Yearly</a></li>
            </ul>
        </nav></strong>
      </div>
    </header> 
     
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <footer>
    </footer>
  </body>
</html>
