{% extends "base.html" %}
{% block content %}
  <div class="jumbo">
        <div id="title">
	        <h3 id="back_button"><a href="/date/{{ day_before }}"><</a></h3>
	        <h3 id="title_header">Top Posts from {{ today }}</h3>
	        {% if day_after %}
	        	<h3 id="forward_button"><a href="/date/{{ day_after }}">></a></h3>
	        {% endif %}
        </div>
        <div id="stories">
        {% for story in top_stories %}
        	<p><strong><a href="{{ story[1][2] }}">{{ story[1][1] }}</a></strong></br>
            <span class="story_details">{{ story[0] }} | <a href="https://news.ycombinator.com/item?id={{ story[1][3] }}">comments ({{ story[1][4] }})</a> | {{ story[1][5] }} | {{ story[1][2].split("/")[2].strip("www.") }}</span></p>
        {% endfor %} 
        </div>
  </div>
{% endblock %}
