{% extends "base.html" %}
{% block content %}
  <div class="jumbo">
        <div id="title">
	        <h3 id="back_button"><a href="/date/{{ day_before }}"><</a></h3>
	        <h3 id="title_header">Top Posts from {{ today }}</h3>
	        {% if day_after %}
	        	<h3 id="forward_button"><a href="/date/{{ day_after }}">></a></h3>
	        {% endif %}
        </div>
        <div id="stories">
        {% for story in top_stories %}
        	<p><strong><a href="{{ story['url'] }}">{{ story['title'] }}</a></strong></br>
            <span class="story_details">{{ story['score'] }} | <a href="https://news.ycombinator.com/item?id={{ story['story_id'] }}">
                {% if story['comment_count'] %}
                    comments ({{ story['comment_count'] }})
                {% else %}
                    comments
                {% endif %}
            </a> | {{ story['time_since'] }} | {{ story['url'].split("/")[2].replace("www.","") }}</span></p>
        {% endfor %} 
        </div>
  </div>
{% endblock %}
